API_HealthGuard/API/venv/
.env
.idea
HealGuard/.env
node_modules
API_HealthGuard/ML/data
API_HealthGuard/ML/.venv
venv/
API_HealthGuard/ML/__pycache__
API_HealthGuard/ML/dataset/__pycache__
.vscode
API_HealthGuard/.venv
API_HealthGuard/API/src/__pycache__ 
API_HealthGuard/API/src/routes/__pycache__ 
API_HealthGuard/API/src/models/__pycache__ 
API_HealthGuard/API/src/database/__pycache__ 
