services:
  api:
    build: API_HealthGuard/.
    restart: always 
    ports: 
      - ${API_PORT}:${API_PORT}
    env_file:
      - .env
    depends_on:
      - db
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      - healthguard_network

  db:
    image: postgres:${POSTGRES_VERSION}
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - ${DATABASE_PORT}:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./API_HealthGuard/POSTGRES/vector_extension.sql:/docker-entrypoint-initdb.d/0-vector_extension.sql:ro
    networks:
      - healthguard_network

  adminer:
    image: adminer:${ADMINER_VERSION}
    restart: always
    ports:
      - "${ADMINER_PORT}:8080"
    depends_on:
      - db
    networks:  
      - healthguard_network

volumes:
  postgres_data:

networks:
  healthguard_network: 
    driver: bridge
