# PyTorch + Vision (core)
torch==2.10.0
torchvision==0.25.0

# Modèles pré-entraînés (EfficientNet)
timm==1.0.9

# Images (PIL)
Pillow==11.1.0

# Bonus production (FastAPI + ONNX)
fastapi==0.115.0
uvicorn[standard]==0.32.0
onnxruntime-gpu==1.21.0  # GPU
# onnxruntime==1.21.0     # CPU

# Datasets Kaggle (optionnel)
kaggle==1.6.17
pandas==2.2.3

# Monitoring (optionnel)
tensorboard==2.19.0
