name: docker_upload

on:
  push:
    tags:
      - 'v*'

jobs:
  docker:
    name: Push docker image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v2

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: ./ML
          file: ./ML/Dockerfile
          push: true
          tags: |
            ylaurent915/healthguard_ml:${{ github.ref_name }}
            ylaurent915/healthguard_ml:latest
