name: "lint"
on:
  pull_request:
    branches: [ "main", "develop" ]
  push:
    branches: [ "develop","featurelinter" ]
jobs:
  zizmor:
    name: linter
    runs-on: ubuntu-latest
    permissions:
      security-events: write 
      contents: read         
      actions: read          
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@0dce2577a4760a2749d8cfb7a84b7d5585ebcb7d
        
