name: "lint"
on:
  pull_request:
    branches: [ "main", "develop" ]
  push:
    branches: [ "develop", "feature/Linter" ]

jobs:
  lint:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: HealGuard
        
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: HealGuard/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint
        
